/* scroll */
body {
    overflow-y: overlay;
    -ms-overflow-style: -ms-autohiding-scrollbar;
}

/* background */
body.pushable>.pusher {
    background-color: rgb(250,250,250);
}

#header-background {
    padding: 0;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
}

/* title typography */
#page-title {
    font-size: 4rem;
    font-weight: lighter;
}

/* search bar */
#search-bar-wrapper {
    margin-top: 0;
    margin-bottom: 0;
}
#search-bar-container {
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12);
}
.ui.form.flex-form {
    display: flex;
    margin: 0;
    align-items: center;
}
.ui.form.flex-form .fluid.input {
    flex: auto;
    margin-left: 20px;
}
.ui.icons.dropdown .icon {
    margin: unset;
}

/* .inverted.segment do not have borders by default,
hence will increase its height by border width on hover (removing .inverted)
and cause noticable displacement inside the container */
.ui.inverted.main.segment {
    border: 1px solid transparent;
    border-top-width: 2px;
}

.ui.main.segment {
    transition: all .3s;
    cursor: pointer;
    -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.12), 0 2px 10px 0 rgba(34,36,38,.15);
}

.ui.main.segment.raised {
    -webkit-box-shadow: 0 2px 4px 0 rgba(34,36,38,.20), 0 2px 10px 0 rgba(34,36,38,.25);
    box-shadow: 0 2px 4px 0 rgba(34,36,38,.20), 0 2px 10px 0 rgba(34,36,38,.25);
}

.ui.padded.nav.segment {
    padding-left: 2em;
    padding-right: 2em;
}

.ui.link.list .item, .ui.link.list .item a:not(.ui), .ui.link.list a.item{
    color: rgba(0,0,0,.6);
}

/* icons in main segment buttons */
.ui.header>.icon {
    font-size: 1.2em;
}

/* sidebar */
#sidebar-logo {
    width: 96px;
}
.ui.top.upper.attached.button {
    border-width: 0;
    border-radius: 0 .28571429rem .28571429rem 0;
    position: absolute;
    top: 1.5rem;
    left: 0;
    z-index: 2;
}
.ui.menu .item {
    line-height: unset;
}
@media only screen and (max-width: 767px) {
    .ui.mobile.hide {
        display: none;
    }
}
@media only screen and (min-width: 767px) {
    .ui.mobile.only {
        display: none;
    }
}
.ui.edged.menu {
    border-radius: 0 !important;
}

/* modal */
#modal-logo {
    max-width: 256px;
}
.ui.large.modal .header {
    font-size: 2em;
}
.ui.large.modal .content {
    font-size: 1.15em;
}
